.logout{ text-align: right;padding: 15px; }
.search-page{
  margin-top: 30px;
}
.box{
  padding: 10px;
  border: 1px solid #aaa;
}
.search-bar{
    position: relative;
    margin-bottom: 5px;
    margin-top: 30px;
    z-index: 99;
}
.search-bar .fa-spinner{
  position: absolute;
    top: 12px;
    right: 12px;
    font-size: 17px;
}
.search-bar .search{position: absolute;top: 13px;left: 15px;font-size: 15px;color: #999;}
.search-bar .close {position: absolute;top: 13px;right: 15px;font-size: 15px;color: #757575;opacity: 0.4;}
.search-bar .form-control {border-color: #eee;height: 42px;padding-left: 40px;box-shadow: 0 2px 2px rgba(0, 0, 0, 0.23);}
.search-bar .opportunities-list{
    background: #fff;
    border-top: 0;
    position: absolute;
    width: 100%;
    max-height: 500px;
    overflow-x: hidden;
    z-index: 99;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.31);
}
.search-bar .opportunities-list .list{
     margin: 0;
     padding: 0;
 }
.search-bar .opportunities-list .list li{
     display: block;
     padding: 5px 15px;
     border-bottom: 1px solid  #eee;
     float: left;
     width: 100%;
     background: #fafafa;
     position: relative;
     cursor: pointer;
     z-index: 9999999;
 }
 .search-bar .opportunities-list .list li.notfound{ cursor: default }
 .search-bar .opportunities-list .list li:hover{
    background: #fff;
    color: #000;
    transition: all ease-in-out 0.3s;
 }
.search-bar .opportunities-list .oppo-panel {
    margin-bottom: 2px;
    width: 50%;
    float: left;
}
.searched-box{
   margin-top: 20px;
   padding: 10px;
}
.searched-box .p-grid{
  width: 100%;
  text-align: center;
  background: #fff;
  margin-bottom: 30px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px #0000001a;
}
.searched-box .planet{
    border: 1px solid #eaeae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fbfbf7;
}
.no-found{
  text-align: center;
  font-size: 21px;
  border-radius: 5px;
  border: 1px solid #eee;
  background: #fff;
  padding: 20px;
  color: #999;
}